BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterClass: false
BinPackArguments: true
ColumnLimit: 80
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^".*\.h"'
    Priority: 2
SortIncludes: false
AlignAfterOpenBracket: Align
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 1
